@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.navbar-container {
    background-color: #2bbbad;
    display: flex;
    justify-content: space-between;
    color: black;
    align-items: center;
    gap: 2rem;
    padding: 0.3rem 2rem;
    
}

.navbar-container a {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}

.title {
    font-size: 2rem;
}

.navbar-container ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 0.5rem
}

.dropdown{
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 14.5%;
    display: flex;
    flex-direction: column;
    left: 26.5%;
    width: 15%;
    align-items: flex-start;
    padding: 5px 20px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.events {
    text-decoration: none;
    color: black;
    font-size: 1.4rem;
}